<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tmutabazi.rbc" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/rbclogo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Notification"
            android:label="@string/title_activity_notification" >
        </activity>
        <activity
            android:name=".Notification2"
            android:label="@string/title_activity_notification2" >
        </activity>
        <activity
            android:name=".PermanentAddress"
            android:label="@string/title_activity_permanent_address" >
        </activity>
        <activity
            android:name=".Notification3"
            android:label="@string/title_activity_notification3" >
        </activity>
        <activity
            android:name=".Notification4"
            android:label="@string/title_activity_notifcation4" >
        </activity>
        <activity
            android:name=".Notification5"
            android:label="@string/title_activity_notification5" >
        </activity>
        <activity
            android:name=".Notification6"
            android:label="@string/title_activity_notification6" >
        </activity>
        <activity
            android:name=".Notification7"
            android:label="@string/title_activity_notification7" >
        </activity>
        <activity
            android:name=".Notification8"
            android:label="@string/title_activity_notification8" >
        </activity>
        <activity
            android:name=".InvestigationForm"
            android:label="@string/title_activity_investigation_form" >
        </activity>
        <activity
            android:name=".InvestigationForm2"
            android:label="@string/title_activity_investigation_form2" >
        </activity>
        <activity
            android:name=".InvestigationForm3"
            android:label="@string/title_activity_investigation_form3" >
        </activity>
        <activity
            android:name=".InvestigationForm4"
            android:label="@string/title_activity_investigation_form4" >
        </activity>
        <activity
            android:name=".InvestigationForm5"
            android:label="@string/title_activity_investigation_form5" >
        </activity>
        <activity
            android:name=".CaseFollowUp1"
            android:label="@string/title_activity_case_follow_up" >
        </activity>
        <activity

            android:name=".Dispatcher"
            android:label="@string/title_activity_dispatcher" >
        </activity>

        <activity
            android:name=".addFOCI"
            android:label="@string/title_activity_add_foci" >
        </activity>
        <activity
            android:name=".InvestigationForm6"
            android:label="@string/title_activity_investigation_form6" >
        </activity>
        <activity
            android:name=".CaseFollowUp2"
            android:label="@string/title_activity_case_follow_up2" >
        </activity>
        <activity
            android:name=".CaseFollowUp3"
            android:label="@string/title_activity_case_follow_up3" >
        </activity>
        <activity
            android:name=".CaseFollowUp4"
            android:label="@string/title_activity_case_follow_up4" >
        </activity>
        <activity
            android:name=".CaseFollowUp5"
            android:label="@string/title_activity_case_follow_up5" >
        </activity>
        <activity
            android:name=".CaseFollowUp6"
            android:label="@string/title_activity_case_follow_up7" >
        </activity>
        <activity
            android:name=".CaseFollowUp7"
            android:label="@string/title_activity_case_follow_up8" >

        </activity>
    </application>

</manifest>
